<div class="row">
  <div class="col-xs-12">
    <h3 class="page-header" id="invoice-header">
      <div id="company-logo">
        <%= image_tag current_user.company.company_logo.url %>
      </div>
      <div class="pull-right">
        <div class="labels">
          <span class="invoice_header_date"></span><br>
          <span class="invoice_header_date"></span><br>
          <span class="invoice_header_date"></span><br>
          <span class="invoice_header_date"></span><br>
          <span class="invoice_header">Tel:</span><br>
          <span class="invoice_header">Email:</span><br>
          <span class="invoice_header">Web:</span><br>
          <span class="invoice_header">IBAN:</span><br>
          <span class="invoice_header">BTW:</span><br>
          <span class="invoice_header">KvK:</span>
        </div>
        <div class="information">
          <span class="invoice_header_date"><%= current_user.company.company_name %></span><br>
          <span class="invoice_header_date"><%= current_user.company.company_address %></span><br>
          <span class="invoice_header_date"><%= current_user.company.company_zipcode %> <%= current_user.company.company_place%></span><br>
          <span class="invoice_header_date"></span><br>
          <span class="invoice_header"><%= current_user.company.company_phone %></span><br>
          <span class="invoice_header"><%= current_user.company.company_email %></span><br>
          <span class="invoice_header"><%= current_user.company.company_webaddress %></span><br>
          <span class="invoice_header"><%= current_user.company.company_bank_account_number %></span><br>
          <span class="invoice_header"><%= current_user.company.company_VAT_number %></span><br>
          <span class="invoice_header"><%= current_user.company.company_CC_number %></span>
        </div>
      </div>
    </h3>
  </div><!-- /.col -->
</div>

<!-- client info row -->

<div class="col-xs-4 invoice-col" id="client-address-col">
  <div class="address_input">
    <span id="client_name" class="bold"></span><br>
    <span id="client_contact_person"></span><br>
    <span id="client_address"></span><br>
    <span id="client_zipcode"></span> <span id="client_residence"></span><br>
  </div>
</div><!-- /.col -->

<!-- info row -->
<div class="row invoice-info">
  <div class="col-xs-4 invoice-col">

  </div><!-- /.col -->

  <div class="col-xs-4 invoice-col">

  </div><!-- /.col -->

  <div class="col-xs-4 invoice-col">
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-xs-5"><label>Factuur #</label></div>
        <div class="col-xs-7"><p id="modal_invoice_number" class="pull-right"></p></div>
      </div>
                    
      <div class="col-xs-12"></div>

      <div class="form-group">
        <div class="col-xs-4"><label>Factuur datum</label></div>
        <div class="col-xs-8"><span id="modal_invoice_date" class="invoice_header_date pull-right"></span></div>
      </div>
                    
      <div class="col-xs-12"></div>

      <div class="form-group">
        <div class="col-xs-5 invoice_space"><label>Verschuldigd</label></div>
        <div class="col-xs-7 invoice_space bold" style="text-align:right"><span class="due">875.00</span><span class="subtotal_currency"></span></div>
      </div>
    </form>
  </div><!-- /.col -->
</div><!-- /.row -->

<div class="pagebreak">
  <div class="row">
  	<div class="col-xs-12">
      <hr>
  		<table class="table table-bordered" id="modal_items">
  		  <thead>
  		    <th class="description">Beschrijving</th>
  		    <th class="unit">Eenheid</th>
  		    <th class="VAT">BTW %</th>
  	      <th class="quantity">Hoeveelheid</th>
  	      <th class="unit">Kosten per eenheid</th>
  	      <th class="units">Prijs</th>
  		  </thead>
  		  
  		  <tbody id="modal_tbody">
  		  </tbody>
  		</table>
  
  	</div>
  </div>
  
</div>
  
  
  <div class="row" id="invoice_totals">
  	<div class="col-xs-3 col-xs-offset-9">
      <div class="">
        <table class="table" id="modal_totals">
          <tr>
            <th style="width:50%">Subtotaal:</th>
            <td class="price_align">€ <span id="modal_subtotal"></span><span class="subtotal_currency"></span></td>
          </tr>
          <tr id="invoice_VAT_6">
            <th>BTW 6%</th>
            <td class="price_align">€ <span id="modal_VAT_6"></span><span class="subtotal_currency"></span></td>
          </tr>
          <tr id="invoice_VAT_21">
            <th>BTW 21%</th>
            <td class="price_align">€ <span id="modal_VAT_21"></span><span class="subtotal_currency"></span></td>
          </tr>
          <tr>
            <th>Totaal:</th>
            <td class="balance price_align">€ <span class="due">875.00</span><span class="subtotal_currency"></span></td>
          </tr>
        </table>
      </div>
    </div><!-- /.col -->
  </div>
  
  <div id="modal_terms">
      <%= current_user.company.payment_terms %>
  </div>


