<!-- page content -->
<div class="right_col" role="main" style="height:100vh" id="mileages">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Mijn kilometerregistratie</h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Kilometerregistratie</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="help-link"><i class="fa fa-question"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table class="table table-striped jambo_table bulk_action">
              <thead>
                <tr class="headings">
                    <th class="column-title"><%= sortable "mileage_retour", "Retour" %></th>
                    <th class="column-title"><%= sortable "mileage_date", "Datum" %></th>
                    <th class="column-title"><%= sortable "mileage_from", "Van" %></th>
                    <th class="column-title"><%= sortable "mileage_to", "Naar" %></th>
                    <th class="column-title">Totaal Kilometers</th>
                    <th class="column-title"><%= sortable "mileage_billable", "Factureerbaar" %></th>
                    <th class="column-title">Vergoeding</th>
                    <th class="column-title">Acties</th>
                </tr>
              </thead>
              <tbody>
                <% @mileages.each do |mileage| %>
                  <tr>
                      <td>
                        <% if mileage.mileage_retour == true %>
                          Ja
                        <% else %>
                          Nee
                        <% end %>
                      </td>
                      <td><%= mileage.mileage_date %></td>
                      <td><%= mileage.mileage_from %></td>
                      <td><%= mileage.mileage_to %></td>
                      <td>
                        <% if mileage.mileage_retour == true %>
                          <% mileage.mileage_total_kilometers = mileage.mileage_kilometers * 2 %>
                          <%= rounding(mileage.mileage_total_kilometers) %> km
                        <% else %>
                          <% mileage.mileage_total_kilometers = mileage.mileage_kilometers %>
                          <%= rounding(mileage.mileage_total_kilometers) %> km
                        <% end %>
                      </td>
                      <td>
                        <% if mileage.mileage_billable == true %>
                          Ja
                        <% else %>
                          Nee
                        <% end %>
                      </td>
                      <td>
                        <% if current_user.company.company_kilometer_compensation != 0 && mileage.mileage_billable == true %>
                          <% mileage.mileage_compensation_rate = current_user.company.company_kilometer_compensation %>
                        <% end %>
                        <% mileage.mileage_compensation = mileage.mileage_total_kilometers * mileage.mileage_compensation_rate %>
                        € <%= rounding(mileage.mileage_compensation) %>
                      </td>
                      <td>
                      <%= link_to edit_mileage_path(mileage) do %>
                          <button class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Wijzigen"><i class="fa fa-pencil"></i></button>
                      <% end %>
                      <%= link_to mileage_path(mileage), method: :delete, data: { confirm: "Weet je zeker dat je deze kilometerregistratie wilt verwijderen?" } do %>
                          <button class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Verwijderen"><i class="fa fa-trash-o"></i></button>
                      <% end %>
                      </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="col-md-6 col-md-offset-5">
                <%= link_to new_mileage_path do %>
                    <button class="btn btn-primary">Nieuwe kilometerregistratie</button>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->