<%= form_for @client, :html => {:class =>  'form-horizontal form-label-left'} do |f| %>
    <% if @client.errors.any? %>
        <h2><%= pluralize(@client.errors.count, "error")%> zorgde ervoor dat de klant niet opgeslagen kon worden.</h2>
        <ul>
            <% @client.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>

    <div class="form-group">
        <%= f.label :client_first_name, 'Klantnaam *', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
        <div class="col-md-3 col-sm-3 col-xs-6 form-group">
            <%= f.text_field :client_first_name, class: 'form-control', :placeholder => 'Voornaam', :required => true %>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 form-group">
            <%= f.text_field :client_last_name, class: 'form-control', :placeholder => 'Achternaam', :required => true %>
        </div>
    </div>
    
    <div class="form-group">
        <%= f.label :client_company_name, 'Bedrijf', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <%= f.text_field :client_company_name, class: 'form-control col-md-7 col-xs-12', :placeholder => 'Bedrijfsnaam' %>
        </div>
    </div>
    
    <div class="form-group">
        <%= f.label :client_address, 'Adres *', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
        <div class="col-md-3 col-sm-3 col-xs-5 form-group">
            <%= f.text_field :client_street, class: 'form-control', :placeholder => 'Straatnaam', :required => true %>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-3 form-group">
            <%= f.number_field :client_street_number, class: 'form-control', :placeholder => 'Huisnummer', :required => true %>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-4 form-group">
            <%= f.text_field :client_street_addition, class: 'form-control', :placeholder => 'toev. huisnummer' %>
        </div> 
    </div>

    <div class="form-group">
        <%= f.label :client_zipcode, 'Postcode *', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <%= f.text_field :client_zipcode, class: 'form-control col-md-7 col-xs-12', :placeholder => 'Postcode', id: 'client_zipcode', :required => true %>
        </div>
    </div>
    
    <div class="form-group">
        <%= f.label :client_residence, 'Woonplaats *', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <%= f.text_field :client_residence, class: 'form-control col-md-7 col-xs-12', :placeholder => 'Woonplaats', :required => true %>
        </div>
    </div>
    
    <div class="form-group">
        <%= f.label :client_gender, 'Geslacht', class: 'control-label col-md-3 col-sm-3 col-xs-12' %><br />
        <div class="col-md-6 col-sm-6 col-xs-12">
            <%= f.label :client_gender, "Man", :value => "true"  %>
            <%= f.radio_button :client_gender, true %>
            <%= f.label :client_gender, "Vrouw", :value => "false" %>
            <%= f.radio_button :client_gender, false %>
            (Laat leeg voor onbekend)
        </div>
    </div>
    

    
    <div class="form-group">
        <%= f.label :client_phone, 'Telefoonnummer', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <%= f.text_field :client_phone, class: 'form-control col-md-7 col-xs-12', id: 'client_phone', :placeholder => 'Telefoonnummer' %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :client_email, 'Emailadres *', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <%= f.text_field :client_email, class: 'form-control col-md-7 col-xs-12', :placeholder => 'Emailadres', :required => true %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :client_account_number, 'Rekeningnummer', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <%= f.text_field :client_account_number, class: 'form-control col-md-7 col-xs-12', :placeholder => 'Rekeningnummer' %><br>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
        <%= link_to 'Annuleren', clients_path, :class => 'btn btn-primary' %>
        <%= f.submit 'Opslaan', :class => 'btn btn-success' %>
    </div>
    
<% end %>