<!-- page content -->
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<div class="right_col" role="main" id="dashboard">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Dashboard</h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12" id="open_creditors">
        <div class="x_panel">
          <div class="x_title">
            <h2>Openstaande crediteuren</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="help-link"><i class="fa fa-question"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table class="table table-striped jambo_table bulk_action" id="example">
              <thead>
                <tr class="headings">
                  <th class="column-title">Uitgave nummer</th>
                  <th class="column-title">Datum</th>
                  <th class="column-title">Naam bedrijf</th>
                  <th class="column-title">Omschrijving kosten</th>
                  <th class="column-title">Nummer crediteur</th>
                  <th class="column-title">Soort uitgave</th>
                  <th class="column-title">Nog over</th>
                  <th class="column-title">Openstaand</th>
                  <th class="column-title">Acties</th>
                </tr>
              </thead>
              
              <tbody>
                <% @spending_left_sum = 0 %>
                
                <% @spending.each do |spending| %>
                <tr>
                  <td><%= spending.spending_follow_number %></td>
                  <td><%= spending.spending_date %></td>
                  <td><%= spending.spending_company_name %></td>
                  <td><%= spending.spending_cost_description %></td>
                  <td><%= spending.spending_invoice_number_creditor %></td>
                  <td><%= spending.spending_type %></td>
                  <% spending.spending_including_VAT = spending.spending_VAT + spending.spending_exclusive_VAT %>
                  <td>
                    <% spending.spending_left = spending.spending_including_VAT - spending.spending_paid %>
                    <% @spending_left_sum += spending.spending_left %>
                    € <%= rounding(spending.spending_left) %>
                  </td>
                  <td>
                    <%= (Time.now - spending.spending_date).to_i / (24 * 60 * 60) %> dagen
                  </td>
                  <td>
                  <%= link_to edit_spending_path(spending) do %>
                    <img src="/images/pencil-edit-button.png" alt="Delete" class="edit_icon">
                  <% end %>
                  <%= link_to spending_path(spending), method: :delete, data: { confirm: "Weet je zeker dat je deze klant wilt verwijderen" } do %>
                    <img src="/images/delete.png" alt="Wijzig" class="edit_icon">
                  <% end %>
                  </td>
                </tr>
                <% end %>
              
              </tbody>
            </table>
            
            Totaal nog te betalen bedrag: € <%= rounding(@spending_left_sum) %>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12" id="open_debtors">
        <div class="x_panel">
          <div class="x_title">
            <h2>Openstaande debiteuren</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="help-link"><i class="fa fa-question"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table class="table table-striped jambo_table bulk_action">
              <thead>
                <tr class="headings">
                  <th class="column-title">Factuur nummer</th>
                  <th class="column-title">Datum</th>
                  <th class="column-title">Naam Opdrachtgever</th>
                  <th class="column-title">Onderwerp</th>
                  <th class="column-title">BTW nummer</th>
                  <th class="column-title">Nog over</th>
                  <th class="column-title">Openstaand</th>
                  <th class="column-title">Acties</th>
                </tr>
              </thead>
              
              <% @invoice_left_sum = 0 %>
              <% @invoices.each do |invoice| %>
                  <tbody>
                    <tr>
                      <td><%= invoice.invoice_number %></td>
                      <td><%= invoice.invoice_date %></td>
                      <td><%= invoice.invoice_client_name %></td>
                      <td><%= invoice.invoice_subject %></td>
                      <td><%= invoice.invoice_VAT_number %></td>
                        <% som_BTW = invoice.invoice_VAT_percentage * 0.01 * invoice.invoice_exclusive_VAT %>
                        <% invoice.invoice_VAT = som_BTW %>
                        <% invoice.invoice_including_VAT = invoice.invoice_VAT + invoice.invoice_exclusive_VAT %>
                      <td>
                        <% @invoice_left_sum += invoice.invoice_left %>
                        € <%= rounding(invoice.invoice_left) %>
                      </td>
                      <td>
                        <%= (Time.now - invoice.invoice_date).to_i / (24 * 60 * 60) %> dagen
                      </td>
                      <td>
                        <%= link_to "Zie factuur", invoice_path(invoice) %>
                      </td>
                    </tr>
                  </tbody>
              <% end %>
            </table>
            
            Totaal nog te ontvangen bedrag: € <%= rounding(@invoice_left_sum) %>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12" id="projects">
        <div class="x_panel">
          <div class="x_title">
            <h2>Mijn projecten</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="help-link"><i class="fa fa-question"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <%= pie_chart Project.all.group(:project_client).count, library: {backgroundColor: "none"} %>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12" id="all_invoices">
        <div class="x_panel">
          <div class="x_title">
            <h2>Mijn facturen</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="help-link"><i class="fa fa-question"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <%= line_chart  Invoice.all.group_by_day(:created_at).count, library: {backgroundColor: "none"} %>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12" id="time_registration">
        <div class="x_panel">
          <div class="x_title">
            <h2>Urenregistratie</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="help-link"><i class="fa fa-question"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <%= bar_chart Timesheet.all.group(:timesheet_name).sum(:timesheet_hours), library: {backgroundColor: "none"} %>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12" id="time_registration">
        <div class="x_panel">
          <div class="x_title">
            <h2>Omzet per maand</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="help-link"><i class="fa fa-question"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <% @unique_years = [] %>
            
            <% Invoice.all.each do |invoice| %>
              <% @unique_years.push(invoice.invoice_date.year) unless @unique_years.include?(invoice.invoice_date.year) %>
            <% end %>
            
            <% @unique_years.sort! { |a,b| a <=> b } %>
            
            <%= line_chart @unique_years.map { |year|
              {name: year, data: (Invoice.all.where("extract(year from invoice_date) = ? AND offer != true", year)).group_by_month(:invoice_date, format: "%h").order("month asc").sum(:invoice_exclusive_VAT)}
            }, library: {curveType: "none"}, xtitle: "Maanden", ytitle: "Omzet (€)", min: -200 %>
            
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12" id="time_registration">
        <div class="x_panel">
          <div class="x_title">
            <h2>Omzet per maand cumulatief</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="help-link"><i class="fa fa-question"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            
            <%= line_chart @unique_years.map { |year|
              @sum = 0
              {name: year, data: (Invoice.where("extract(year from invoice_date) = ? AND offer != true", year)).group_by_month(:invoice_date, format: "%h").order("month asc").sum(:invoice_exclusive_VAT).map { |x,y| { x => (@sum += y)} }.reduce({}, :merge)}
            }, library: {curveType: "none"}, xtitle: "Maanden", ytitle: "Omzet (€)"  %>
            
          </div>
        </div>
      </div>
    </div>    
    
  </div>
</div>
<!-- /page content -->