<!-- page content -->
<div class="right_col" role="main" style="height:100vh">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>BTW aangifte <%= Time.now.year %></h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <% @quarter_months = [1,2,3] %>
    <% @quarter_string = "januari t/m maart" %>
    <%= render partial: 'vat_form', @quarter_months => @quarter_months, @quarter_string => @quarter_string %>
    
    <% @quarter_months = [4,5,6] %>
    <% @quarter_string = "april t/m juni" %>
    <%= render partial: 'vat_form', @quarter_months => @quarter_months, @quarter_string => @quarter_string %>
    
    <% @quarter_months = [7,8,9] %>
    <% @quarter_string = "juli t/m september" %>
    <%= render partial: 'vat_form', @quarter_months => @quarter_months, @quarter_string => @quarter_string %>
    
    <% @quarter_months = [10,11,12] %>
    <% @quarter_string = "oktober t/m december" %>
    <%= render partial: 'vat_form', @quarter_months => @quarter_months, @quarter_string => @quarter_string %>
    
  </div>
</div>
<!-- /page content -->