<%= form_for @annualaccount, :html => {:class =>  'form-horizontal form-label-left'} do |f| %>
    <% if @annualaccount.errors.any? %>
        <h2><%= pluralize(@annualaccount.errors.count, "error")%> zorgde ervoor dat de klant niet opgeslagen kon worden.</h2>
        <ul>
            <% @annualaccount.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>
    
    
    <div class="form-group">
        <%= f.label :an_date, 'Datum', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <%= f.text_field :an_date, class: 'form-control col-md-7 col-xs-12', :id => 'datepicker', :value => (f.object.an_date.strftime('%Y') if f.object.an_date) %><br>
        </div>
    </div>
    
    <div class="form-group">
        <%= f.label :an_pr_depreciation, 'Afschrijvingen', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <%= f.number_field :an_pr_depreciation, class: 'form-control col-md-7 col-xs-12' %><br>
        </div>
    </div>
    
    <div class="form-group">
        <%= f.label :an_pr_interest, 'Bankkosten (bankkosten negatief vermelden)', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <%= f.number_field :an_pr_interest, class: 'form-control col-md-7 col-xs-12' %><br>
        </div>
    </div>
    
    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
        <%= link_to 'Annuleren', annualaccounts_path, :class => 'btn btn-primary' %>
        <%= f.submit 'Opslaan', :class => 'btn btn-success' %>
    </div>
    
<% end %>