<!-- page content -->
<div class="right_col" role="main" style="height:100vh">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Jaarrekening</h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Go!</button>
                          </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Mijn jaarrekeningen</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table class="table table-striped jambo_table bulk_action">
              <thead>
                <tr class="headings">
                    <th class="column-title">Datum</th>
                    <th class="column-title">Omzet</th>
                    <th class="column-title"></th>
                </tr>
              </thead>
            <% @annualaccounts.each do |annualaccount| %>
              <tbody>
                  <tr>
                    <td><%= annualaccount.an_date.strftime('%Y') %></td>
                    <td><%= annualaccount.an_pr_return %></td>
                    <td style="width:150px">
                    <%= link_to annualaccount_path(annualaccount) do %>
                        <img src="/images/magnifying-glass.png" alt="Delete" class="edit_icon">
                    <% end %>
                    <%= link_to edit_annualaccount_path(annualaccount) do %>
                        <img src="/images/pencil-edit-button.png" alt="Delete" class="edit_icon">
                    <% end %>
                    <%= link_to annualaccount_path(annualaccount), method: :delete, data: { confirm: "Weet je zeker dat je deze klant wilt verwijderen" } do %>
                        <img src="/images/delete.png" alt="Wijzig" class="edit_icon">
                    <% end %>
                    </td>
                  </tr>
              </tbody>
            <% end %>
            </table>
            <div class="col-md-6 col-md-offset-5">
              <%= link_to new_annualaccount_path do %>
                  <button class="btn btn-primary">Nieuwe W&V rekening</button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->