<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Jaarrekening <%= @annualaccount.an_date.year %></h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Winst- en verliesrekening</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table class="table2">
                <tbody>
                    <tr>
                        <td>Omzet</td> 
                        <td>
                            <% revenue = 0 %>
                            <% invoice_left = 0 %>
                            <% Invoice.all.each do |invoice| %>
                            
                                <% if invoice.VAT6.blank? %>
                                    <% invoice.VAT6 = 0.0 %>
                                <% end %>
                                
                                <% if invoice.VAT21.blank? %>
                                    <% invoice.VAT21 = 0.0 %>
                                <% end %>
                                
                                <% if !invoice.invoice_paid.blank? && invoice.invoice_when_paid.year == @annualaccount.an_date.year %>
                                    <% invoice_left = invoice.invoice_paid - invoice.VAT6 - invoice.VAT21 %>
                                    <% revenue += invoice_left %>
                                <% end %>
                            <% end %>
                            € <%= revenue %>
                        </td>
                    </tr>
                    <tr>
                        <td>Inkoop</td> 
                        <td>
                            <% purchase_expenses = 0 %>
                            <% Spending.all.each do |spending| %>
                                <% if spending.spending_type == "Inkoop" && spending.spending_when_paid.year == @annualaccount.an_date.year %>
                                    <% purchase_expenses += (spending.spending_VAT + spending.spending_exclusive_VAT) %>
                                <% end %>
                            <% end %>
                            € <%= purchase_expenses %>
                        </td>
                    </tr>
                    <tr>
                        <td></td> 
                        <td></td>
                    </tr>
                    <tr>
                        <td class="extra">Brutoresultaat</td>
                        <td class="extra">
                            <% gross_margin = (revenue - purchase_expenses) %>
                            € <%= gross_margin %>
                        </td>
                    </tr>
                    <tr>
                        <td></td> 
                        <td></td>
                    </tr>
                    <tr>
                        <td>Personeelskosten</td> 
                        <td>
                            <% staff_expenses = 0 %>
                            <% Spending.all.each do |spending| %>
                                <% if spending.spending_type == "Personeelskosten" && spending.spending_when_paid.year == @annualaccount.an_date.year %>
                                    <% staff_expenses += (spending.spending_VAT + spending.spending_exclusive_VAT) %>
                                <% end %>
                            <% end %>
                            € <%= staff_expenses %>
                        </td>
                    </tr>
                    <tr>
                        <td>Huisvestingkosten</td> 
                        <td>
                            <% accomodation_expenses = 0 %>
                            <% Spending.all.each do |spending| %>
                                <% if spending.spending_type == "Huisvestingkosten" && spending.spending_when_paid.year == @annualaccount.an_date.year %>
                                    <% accomodation_expenses += (spending.spending_VAT + spending.spending_exclusive_VAT) %>
                                <% end %>
                            <% end %>
                            € <%= accomodation_expenses %>
                        </td>
                    </tr>
                    <tr>
                        <td>Verkoopkosten</td> 
                        <td>
                            <% sales_expenses = 0 %>
                            <% Spending.all.each do |spending| %>
                                <% if spending.spending_type == "Verkoopkosten" && spending.spending_when_paid.year == @annualaccount.an_date.year %>
                                    <% sales_expenses += (spending.spending_VAT + spending.spending_exclusive_VAT) %>
                                <% end %>
                            <% end %>
                            € <%= sales_expenses %>
                        </td>
                    </tr>
                    <tr>
                        <td>Consumptiekosten</td> 
                        <td>
                            <% consumption_expenses = 0 %>
                            <% Spending.all.each do |spending| %>
                                <% if spending.spending_type == "Consumptiekosten" && spending.spending_when_paid.year == @annualaccount.an_date.year %>
                                    <% consumption_expenses += (spending.spending_VAT + spending.spending_exclusive_VAT) %>
                                <% end %>
                            <% end %>
                            € <%= consumption_expenses %>
                        </td>
                    </tr>
                    <tr>
                        <td>Reis- en verblijfkosten</td> 
                        <td>
                            <% travel_expenses = 0 %>
                            <% Spending.all.each do |spending| %>
                                <% if spending.spending_type == "Reis- en verblijfkosten" && spending.spending_when_paid.year == @annualaccount.an_date.year %>
                                    <% travel_expenses += (spending.spending_VAT + spending.spending_exclusive_VAT) %>
                                <% end %>
                            <% end %>
                            € <%= travel_expenses %>
                        </td>
                    </tr>
                    
                    <% car_expenses = 0 %>
                    <% Company.all.each do |company| %>
                        <% if company.id == current_user.company_id && company.company_business_car == true %>
                            <tr>
                                <td>Autokosten</td> 
                                <td>
                                    <% Spending.all.each do |spending| %>
                                        <% if spending.spending_type == "Autokosten" && spending.spending_when_paid.year == @annualaccount.an_date.year %>
                                            <% car_expenses += (spending.spending_VAT + spending.spending_exclusive_VAT) %>
                                        <% end %>
                                    <% end %>
                                    € <%= car_expenses %>
                                </td>
                            </tr>
                        <% else %>
                            <tr>
                                <td>Kilometervergoeding</td> 
                                <td>
                                    <% Mileage.all.each do |mileage| %>
                                    
                                        <% if mileage.mileage_date.year == @annualaccount.an_date.year %>
                                        
                                            <% if current_user.company.company_kilometer_compensation != 0 && mileage.mileage_billable == true %>
                                                <% mileage.mileage_compensation_rate = current_user.company.company_kilometer_compensation %>
                                            <% end %>
                                            
                                            <% if mileage.mileage_retour == true %>
                                                <% mileage.mileage_total_kilometers = mileage.mileage_kilometers * 2 %>
                                            <% else %>
                                                <% mileage.mileage_total_kilometers = mileage.mileage_kilometers %>
                                            <% end %>
                                            
                                            <% car_expenses += (mileage.mileage_total_kilometers * mileage.mileage_compensation_rate) %>
                                        <% end %>
                                        
                                    <% end %>
                                    € <%= car_expenses %>
                                </td>
                            </tr>
                        <% end %>
                    <% end %>
                    
                    <tr>
                        <td>Kantoorkosten</td> 
                        <td>
                            <% office_expenses = 0 %>
                            <% Spending.all.each do |spending| %>
                                <% if spending.spending_type == "Kantoorkosten" && spending.spending_when_paid.year == @annualaccount.an_date.year %>
                                    <% office_expenses += (spending.spending_VAT + spending.spending_exclusive_VAT) %>
                                <% end %>
                            <% end %>
                            € <%= office_expenses %>
                        </td>
                    </tr>
                    <tr>
                        <td>Overige kosten</td> 
                        <td>
                            <% other_expenses = 0 %>
                            <% Spending.all.each do |spending| %>
                                
                                <% if spending.spending_type == "Overige kosten" && spending.spending_when_paid.year == @annualaccount.an_date.year %>
                                    <% other_expenses += (spending.spending_VAT + spending.spending_exclusive_VAT) %>
                                <% end %>
                            <% end %>
                            € <%= other_expenses %>
                        </td>
                    </tr>
                    <tr>
                        <td>Afschrijvingen</td> 
                        <td>€ <%= @annualaccount.an_pr_depreciation %></td>
                    </tr>
                    <tr>
                        <td>Bank- en rentekosten</td> 
                        <td>€ <%= @annualaccount.an_pr_interest %></td>
                    </tr>
                    <tr>
                        <td></td> 
                        <td></td>
                    </tr>
                    <tr>
                        <td class="extra">Totaal bedrijfskosten</td>
                        <td class="extra">
                            <% total_company_expenses = 0 %>
                            <% total_company_expenses = (staff_expenses + other_expenses + purchase_expenses + consumption_expenses + sales_expenses + accomodation_expenses + car_expenses + travel_expenses + office_expenses + @annualaccount.an_pr_depreciation + @annualaccount.an_pr_interest) %>
                            € <%= total_company_expenses %>
                        </td>
                    </tr>
                    <tr>
                        <td></td> 
                        <td></td>
                    </tr>
                    <tr>
                        <td class="extra">Nettoresultaat</td> 
                        
                        <% company_result = 0 %>
                        <% company_result = (gross_margin - total_company_expenses) %>
                        <% if company_result < 0 %>  
                            <td class="extra red">
                                € <%= company_result %>
                            </td>
                        <% else %>
                            <td class="extra">
                                € <%= company_result %>
                            </td>
                        <% end %>
                    </tr>
                <tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->